<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8">
</head>
<body>
<center><h1>My custom login page</h1></center>
    <center>
        <form>
            Username : <input type="text" placeholder="User Name" name="username">
            <br/><br/>
            Password : <input type="text" placeholder="Password" name="password">
            <br/><br/>
            <input type="submit" value="Login">
        </form>
    </center>
</body>
</html>