<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8">
</head>
<body>
<center><h1>My custom login page</h1></center>
    <center>
        <form th:action="@{/process-login}" method="post">

            <label for="username">Username</label>:

            <!--
                name: attribute
                    If we won't use the spring form tags and the default parameter name spring won't generate the
                    CSRF token for us, and we have to generate it by ourselves.
             -->
            <input type="text" placeholder="User Name" name="username" autofocus="autofocus" />  <br/>
            <label for="password">Password</label>:
            <input type="password" placeholder="Password" name="password" autofocus="autofocus" /> <br/>

            <!-- When we post the data(during login submit) spring will handle it for you -->
            <input type="submit" value="Login">
        </form>
    </center>
</body>
</html>